* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #f7f7f7;
    color: var(--secondary-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* root section */
:root {
    --primary-color: #CAA169;
    --secondary-color: #51525F;
    --white-color: #fff;
    --primary-font: 'Noto Serif Display', serif;
    --secondary-font: 'Poppins', sans-serif;
    --box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

/* re-use css */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    box-shadow: var(--box-shadow);
}

.custom-btn {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 0.5rem 2.5rem;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: var(--secondary-color);
}

.section-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2.5rem;
}

.section-title span {
    color: var(--primary-color);
}

/* custom css */

/* Navbar Section */
.navbar {
    background-color: var(--white-color);
    position: relative;
    z-index: 9999999999;
}

#logo {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.75rem;
}

#logo span {
    color: var(--primary-color);
}
.offcanvas-title{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.75rem;
}
.offcanvas-title span{
    color: var(--primary-color);
}

.nav-item .nav-link {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-item .nav-link.active ,
.nav-item .nav-link:hover {
    color: var(--primary-color);
}
/* Navbar scroll */
.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

/* hero section */
.banner-1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../img/slider/slider1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../img/slider/slider2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../img/slider/slider3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tag-line {
    padding: 18rem 0;

}

.tag-line h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.tag-line h1 span {
    color: var(--primary-color);
}

.tag-line p {
    color: #dbdbdb;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.booking-area {
    background-color: var(--white-color);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    margin-top: -4rem;
    padding: 3.125rem 1.875rem;
    position: relative;
    z-index: 20;
}

/* About section */
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about .contain {
    width: 95%;
}

.left .contain h5 {
    color: var(--secondary-color);
    font-weight: 500;
    position: relative;
}

.left .contain h3 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    font-weight: 700;
    text-transform: uppercase;
}

.left .contain span {
    color: var(--primary-color);
}

.left .contain p {
    color: #666;
    font-size: 1.125rem;
    padding: 1rem 0;
}

.right img {
    object-fit: cover;
}

/* Room section */
.dif-room {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.dif-room img {
    width: 100%;
    transition: all 0.4s ease-in;
}

.dif-room:hover img {
    transform: scale(1.1);
}

.dif-room::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in;
}

.dif-room:hover::before {
    opacity: 0.6;
}

.dif-room .overlay {
    left: 1.875rem;
    right: 1.875rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.dif-room .content {
    border: 1px solid #999;
    border-radius: 15px;
    padding: 2rem;
    transform: scale3d(1.2, 1.2, 1.2);
    transition: all 0.5s ease-in;
    opacity: 0;
}

.dif-room:hover .content {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.content {
    color: var(--white-color);
}

.content h3 {
    font-size: 2rem;
    font-weight: 600;
}

.content p {
    color: #dbdbdb;
}

.content .facility {
    display: flex;
    flex-direction: column;
}

.content h5 {
    font-size: 1.75rem;
    font-weight: 600;
}

/* Facilities section */
#facilities .dif-room .content {
    border: none;
}

.advantage {
    width: 100%;
    padding: 5rem 0;
    background: url('../img/facilities/adv-bg.png') no-repeat center;
    background-attachment: fixed;
}

.advantage h2 {
    color: #cdcdcd;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
}

.advantage h2 span {
    color: var(--primary-color);
}

.adv-category {
    color: #cdcdcd;
    padding: 3rem 0 1.5rem;

}

.adv-category h4 {
    font-weight: 400;
}

.adv-category i {
    padding-right: 1rem;
    color: var(--primary-color);
    font-size: 1.75rem;
}

.tag {
    color: #bbbbbb;
}

/* Review section */
#review {
    padding-bottom: 5rem;
}

#review h2 {
    color: var(--title-color);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.test-contain {
    padding-top: 3rem;
}

.inner-test {
    padding: 0 1.5rem;
    margin: 0 1rem;
    border-radius: 10px;
    background-color: #fff;
    font-size: 1.05rem;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.inner-test:hover {
    box-shadow: 6px 6px 8px 0px rgba(99, 99, 99, 0.2);
}

.inner-test i {
    font-size: 5rem;
    color: var(--primary-color);
}

.inner-test p {
    color: var(--dark-color);

}

.inner-test .review-by {
    display: flex;
    padding: 1rem 0;
}

.img-contain img {
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.author {
    padding-left: 1.5rem;
    padding-top: 0.4rem;
}

.author h5 {
    font-weight: 600;
    margin: 0;
    padding-top: 1rem;
}

.slick-prev:before,
.slick-next:before {
    font-size: 1.5rem;
    background-color: #fff;
    line-height: 3;
    color: var(--dark-color);
    font-weight: 600;
    border-radius: 50%;
}

.slick-dots {
    bottom: -50px;
}

/* Newsletter section */
.newsletter {
    width: 55%;
    margin: 0 auto;
}

.email-area {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 2px solid var(--secondary-color);
    background: transparent;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
}

.email-area:focus {
    border: 2px solid var(--primary-color);


}

.submit-btn {
    width: 100%;
    height: 43px;
    border: none;
    background-color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #212121;
}

.active-2 {
    background-color: #414141;
    transition: 1s;
}

.active-2:hover {
    background-color: #414141;
}

/* Blog section */
.card-body h4 {
    font-weight: 700;
}

.card-body h6 {
    font-weight: 600;
}

.card-body p {
    color: var(--secondary-color);
}

/* Footer section */
.footer_wrapper {
    background-color: #212121;
    color: #dbdbdb;
}

.footer_wrapper h5 {
    color: var(--white-color);
    margin-bottom: 1.25rem;
}

.footer_wrapper ul li {
    margin-bottom: .5rem;
    list-style: none;
}

.footer_wrapper .contact-info li a {
    color: var(--white-color);
}

.footer_wrapper .link-widget li a,
.footer_wrapper p {
    color: var(--text-gray);
    font-size: .875rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}


.footer_wrapper .link-widget li a:hover {
    color: var(--primary-color);
}


.footer_wrapper .social-network a {
    font-size: 2rem;
    color: var(--white-color);
    margin-right: 1rem;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    color: var(--primary-color);
}

.footer_wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}

.footer_wrapper .copyright-section {
    background-color: #212121;
    border-top: 1px solid #dbdbdb;
    padding: 1.25rem 0 .3125rem;
    text-align: center;
}

.footer_wrapper .copyright-section p {
    font-size: 1.125rem;
}

.footer_wrapper .copyright-section a {
    color: var(--primary-color);
    font-weight: 700;
    transition: color 0.3s;
}

.footer_wrapper .copyright-section a:hover {
    color: var(--secondary-font);
}


/* Media query */
@media only screen and (max-width : 1399px) {
    .left .contain .hidee {
        display: none;
    }

    #room .content p {
        display: none;
    }
}

@media only screen and (max-width : 1199px) {

    /* header */
    .navbar .nav-item {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .tag-line p {
        font-size: 1.25rem;
    }

    /* About */
    .left .contain h3 {
        font-size: 2rem;
    }

    .left .contain p {
        font-size: 1rem;
    }

    /* Room */

    #room .content h5 {
        font-size: 1.25rem;
    }

    /* Facilities */
    .adv-category h4 {
        font-size: 1.25rem;
    }

}

@media only screen and (max-width : 992px) {

    /* Home */
    .tag-line {
        padding: 12rem 0;

    }

    .tag-line h1 {
        font-size: 3.75rem;
    }

    .tag-line h1 span {
        color: var(--primary-color);
    }

    .tag-line p {
        font-size: 1rem;
    }

    .booking-area {
        padding: 3rem 1.875rem 2rem;
    }

    /* About */
    #about .contain {
        padding-bottom: 3rem;
    }

    /* Room */
    #room .content p {
        display: block;
    }

    .padd {
        padding-top: 1.5rem;
    }

    /* facilities */
    .adv-category {
        padding-top: 1.5rem;
    }

    /* Newsletter */
    .newsletter {
        width: 70%;
    }
}

@media only screen and (max-width : 767px) {
    .section-title {
        font-size: 2rem;
        padding: 1rem 0;
    }

    /* Room */
    #room .content p {
        display: none;
    }

    /* Blog */
    .card-1 {
        padding-bottom: 1.5rem;
    }

}

@media only screen and (max-width : 576px) {
    .tag-line {
        padding: 6rem 0;

    }

    .tag-line h1 {
        font-size: 2.75rem;
        padding: 0 1rem;
    }

    .tag-line p {
        padding: 0 1rem;
        font-size: 0.85rem;
    }

    .adv-category h4 {
        padding-left: 1rem;
    }

    .tag {
        padding-left: 1.25rem;
    }
}

@media only screen and (max-width : 576px) {
    .tag-line h1 {
        font-size: 2rem;
        padding: 0 1rem;
    }

    /* Room */
    #room .content h3 {
        font-size: 1.5rem;
    }

    #room .overlay .content {
        padding: 1.25rem;
    }

    .custom-btn {
        padding: 0.5rem 2rem;
        font-size: 0.75rem;
    }

    #copy {
        font-size: 0.9rem;
    }
}